<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YEMEK23</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <!-- Ana sayfa içeriğini sadece giriş yapmamış kullanıcılara göster -->
    <div class="anasayfa" *ngIf="!isLoggedIn">
      <div class="content">
        <h3>Yemek23'e Hoş Geldiniz</h3>
        <p>En sevdiğiniz restoranlardan yemek siparişi verin.</p>
        <a routerLink="/signin" class="btn">Hemen Başla</a>
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
