@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Snackbar stilleri */
.success-snackbar {
  background: #4caf50;
  color: white;
}

.error-snackbar {
  background: #f44336;
  color: white;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
